@media (max-width: 764px) {
   #basic-addon1 {
      display: none;
   }
}
.toggleButton {
   top: 100%;
   left: 100%;
   cursor: pointer;
   transition: transform 0.5s ease;
}

.advanced-div {
   top: 100%;
   left: 100%;
}

body {
   margin: 0;
   min-height: 100vh;
   background: #000000;
   color: rgba(199, 165, 253, 0.753);
   overflow: hidden;
   position: relative;
}

body::before {
   content: "";
   position: fixed;
   inset: 0;
   z-index: -2;

   background: radial-gradient(circle at 20% 30%, #1a2a6c 0%, transparent 50%), radial-gradient(circle at 80% 70%, #16213e 0%, transparent 50%);

   background-size: 300% 300%;
   background-repeat: no-repeat;

   animation: moveBg 18s ease-in-out infinite alternate;
}

body::after {
   content: "";
   position: fixed;
   inset: 0;
   z-index: -1;

   background: radial-gradient(circle at 20% 30%, #0a8a26 0%, transparent 50%), radial-gradient(circle at 80% 70%, #0a8a26 0%, transparent 50%);

   background-size: 300% 300%;
   background-repeat: no-repeat;

   opacity: 0;
   transition: opacity 1.8s ease;
}

@keyframes moveBg {
   0% {
      background-position:
         0% 0%,
         100% 100%;
   }
   50% {
      background-position:
         100% 50%,
         0% 50%;
   }
   100% {
      background-position:
         0% 100%,
         100% 0%;
   }
}

body.success::after {
   opacity: 1;
   background: radial-gradient(circle at 20% 30%, #0a8a26 0%, transparent 50%), radial-gradient(circle at 80% 70%, #0a8a26 0%, transparent 50%);
}

body.error::after {
   opacity: 1;
   background: radial-gradient(circle at 20% 30%, #6c461a 0%, transparent 50%), radial-gradient(circle at 80% 70%, #6c461a 0%, transparent 50%);
}

.user_memberlist {
   right: 2px;
   bottom: 1px;
   top: 1px;
   /* max-width: 100px; */
   width: 100px;
   height: 98%;
   position: absolute;
   z-index: 2;
}

.table-container {
   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(20px);
   border-radius: 15px;
   border: 1px solid rgba(255, 255, 255, 0.08);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-height: 70vh;
   overflow-y: auto;
}

.table {
   color: rgba(199, 165, 253, 0.753);
}

.table thead th {
   border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.table tbody tr:hover {
   background: rgba(199, 165, 253, 0.08);
   transition: 0.3s;
}
